

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffc47c;
  background-image: url(./img/booksParttern.png); 
  box-sizing: border-box;
}



h1 {
  color: white;
  text-align: center;
}
.titulo{
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 4px black;
  height: 170px;
  /*block-size: 2px;*/
  
}

.app-frame {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  
  /*background-image: url(./img/booksParttern.png);*/ 
}

.books-actions {
  margin: 0;
  
/*bottom: 20px;*/
 /* left: 30px;*/
  background: #ffa654;
  padding: 10px;
  
    position: fixed;
    left    : 0px;
    bottom  : 0px;
    height  : 70px;
    width   : 100%;



}

.books-actions button {
  background: #fdeaca;
  min-width: 100px;
  height: 30px;
  margin: 5px;
  border-style: none;
  border-radius: 3px;
  font-weight: bolder;
  cursor: pointer;
}

.books-actions button:hover {
  background: #ff9531;
  border-style: solid;
  border-color: #ffeedf;
}

.books-list .book-list-item {
  width: 100%;
  background: #FFF; 
  transition: 500ms;
  /*height: 40px;*/
}

.books-list .book-list-item:nth-child(even) {
  background: #fdeaca;  
}

.books-list .book-list-item:hover {
  background: #84adad3a;
  border: 1px solid;
} 

.book-list-item .field {
  width: 160px;
  margin: 1px;
  padding: 4px;
  overflow: hidden;
  display: inline-block;
  line-height: 30px;
}
.book-list-item .field:first-child {
  width: 70%;
  margin: 0;
  box-sizing: border-box;
}

.book-list-item .field {
  width: 15%;
  margin: 0;
  box-sizing: border-box;  
}


.book-list-item .field:first-child > a {
  color: #222;
  text-decoration: none;
  font-weight: bolder;
}

.book-list-item .field a {
  color: #666;
  text-decoration: none;
  
}

.app-frame p {
  color: white;
  
  font-style: italic;
}

.app-frame form {
  width: 100%;
  background: rgba(255,255,255,0.5);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.app-frame form label {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  color: rgba(0,0,0,0.7);
  font-size: 12px;
}

.app-frame form input {
  font-size: 18px;
  font-style: bolder;
}

.app-frame form span {
  color: red;
  margin: 5px;
  font-size: 10px;
  font-style: italic;
}


.app-header {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
}

.app-header h1 {
  color: white;
}

/*.app-frame h2 {
  font-weight: lighter;
  font-size: 1.3em;
}*/

img {
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  width: 50vw;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
}

.book-data strong {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  color: #333;
  font-size: 11px;
}

.book-data strong {
  font-size: 20px;
}

.editQuote{
  width: 50vw;
  height: 30vh;
  word-break: break-all;
  background-color: #51d8e242;
   outline-color: #ffe1be;
  border-color: aqua;
  
}




textarea {
  resize: none;
  color: #222;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
}

.citaText{
  font-size: 2rem;
    width: 90vw;
    text-shadow: 0px 2px 4px #000000;
}

.book{
  font-size: 2rem;
  width: 90vw;
  font-weight: bold;
}

#avisoScroll{
  display: none;
}
@media(max-width:576px){
  img {
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    width: 70vw;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
  }

  .books-list .book-list-item {
    width: 170%;
    background: #FFF; 
    transition: 500ms;
    /*height: 40px;*/
  }

  .books-list{
    overflow-x: auto;
  }

  .editQuote{
    width: 70vw;
    word-break: break-word;
    text-align: justify;
  }

  #avisoScroll{
    display: block;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
}

.tutorial{
  color: white;
  font-size: 1.2rem;
  font-style: italic;
  text-shadow: 1px 2px 3px #000000a3;
}


